homeassistant-supervised.deb
homeassistant-supervised/debian/.debhelper
homeassistant-supervised/debian/homeassistant-supervised*
homeassistant-supervised_*
homeassistant-supervised/debian/debhelper-build-stamp
homeassistant-supervised/debian/files
