[Unit]
Description=Hass.io supervisor
Requires=%%DOCKER_SERVICE%%
After=%%DOCKER_SERVICE%% dbus.socket

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=-%%DOCKER_BINARY%% stop hassio_supervisor
ExecStart=%%HASSIO_BINARY%%
ExecStop=-%%DOCKER_BINARY%% stop hassio_supervisor

[Install]
WantedBy=multi-user.target
